<title></title>
<meta name="description" content="I’m a Product Designer from the UK, helping companies deliver beautiful, intuitive online experiences through solid research, thoughtful design and accessible code.">
<meta name="keywords" content="Web designer, UI designer, UX designer, Bristol, United Kingdom, South West, Freelance designer, Contract designer, Product Designer, front-end developer">
<meta name="author" content="Ben Darby">
<link rel="stylesheet" href="/css/style.css">

<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/favicons/manifest.json">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#ffe7ec">
<meta name="theme-color" content="#ffe7ec">
<meta name="msapplication-TileColor" content="#ffe7ec">
<!-- IE failsafe -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="/js/modernizr-custom.js"></script>

