<header class="header">
    <button type="button" class="header__menu js-menu-trigger js-link">
        <!-- <img src="/assets/icons/source/menu.svg"> -->
        <span></span>
        Menu
    </button>

    <div class="header__controls">
        {% if section == "home" %}{% else %}
            <a href="{% if section == 'about' %}/{% elif section == 'portfolio' %}/about{% elif section == 'portfolio-single' %}/work{% endif %}" class="header__icon header__icon--prev js-link">
                <img src="/assets/icons/source/arrow-up.svg">
            </a>
        {% endif %}
        {% if section == "portfolio" %}{% elif section == 'portfolio-single' %}{% else %}
            <a href="{% if section == 'home' %}/about{% elif section == 'about' %}/work{% endif %}" class="header__icon header__icon--next js-link">
                <img src="/assets/icons/source/arrow-down.svg">
            </a>
        {% endif %}
    </div>

    <button type="button" class="header__icon header__icon--email js-contact-trigger js-link">
        <img src="/assets/icons/source/email.svg">
    </button>
</header>
{% include 'layouts/navigation/primary.html' %}
