<footer class="footer">
    <button type="button" class="footer__close js-contact-close js-link">
        <img src="/assets/icons/source/menu-close.svg">
    </button>

    <ul class="social">
        <li class="social__item">
            <a href="mailto:hello@bendarby.co.uk" class="js-link">
                hello@bendary.co.uk
            </a>
        </li>
    </ul>

    <div class="footer__form">
        <script id="wnewwkyhyefvdwg">(function(a, b, c, e, f) {var s = a.createElement('script');s.src = b;s.setAttribute('data-form-id', e);s.setAttribute('data-runner-id', c);s.setAttribute('data-url-params', f);s.setAttribute('data-scale', true);a.head.appendChild(s);})(window.document, 'https://form.questionscout.com/qs-form-script.min.js', 'wnewwkyhyefvdwg', '5e45c785fd307d72c01272d4', '[]');</script>
    </div>
</footer>
