
// Icons pop
@-webkit-keyframes hvr-icon-pop {
  50% {
    transform: scale(1.25) translateY(-50%);
  }
}

@keyframes hvr-icon-pop {
  50% {
    transform: scale(1.25) translateY(-50%);
  }
}

// Ripples
@-webkit-keyframes hvr-ripple-out {
  0% {
    opacity: 1;
  }
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  0% {
    opacity: 1;
  }
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}

@-webkit-keyframes hvr-ripple-circle {
  0% {
    opacity: 1;
    transform: scale(1) translateX(3px) translateY(3px);
  }
  50% {
    transform: scale(1.4) translateX(3px) translateY(3px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(3px) translateY(3px);
  }
}
@keyframes hvr-ripple-out-circle {
  0% {
    opacity: 1;
    transform: scale(1) translateX(3px) translateY(3px);
  }
  50% {
    transform: scale(1.4) translateX(3px) translateY(3px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(3px) translateY(3px);
  }
}

@keyframes small {
    0% {
        transform: scale(1);
        //transform-origin: top right;
        opacity: 0;
    }
    100% {
        transform: scale(1.1);
        transform-origin: right;
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInSlightly {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.4;
    }
}

@keyframes swipeRight {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes swipeLeft {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes swipeDown {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $sailorMoon; }
}

@keyframes morph {
  0%{
    d:path('M114.499 -0.999968L240.999 -1.00003L240.999 217.5C240.999 217.5 81.9999 310 67.499 217.5C52.9982 125 -29.0004 116 11.9998 57.5C53 -1.00005 114.499 -0.999968 114.499 -0.999968Z');
    transform: translateX(450px);
  }
  100%{
    d:path('M6 -1.00002L665 -1.00006L665 861C665 861 195.93 718.511 245.775 487.68C295.619 256.85 212.917 235.324 84.8721 149.674C-30.0745 72.7857 6 -1.00002 6 -1.00002Z')
  }
}

@keyframes morph-blue {
  0%{
    d:path('M300 41.9999C380 29.9999 402.045 69 402.045 69V311C402.045 311 423.247 389.812 255 329C172 299 68.0001 369 21.0001 273C-26.7812 175.404 16.9184 77.4431 70.9999 33C172 -50 220 53.9999 300 41.9999Z');
    transform: translateX(600px);
  }
  100%{
    d:path('M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z')
  }
}

@keyframes morph-left {
  0%{
    d:path('M300,41.9999 C380,29.9999 402.045,69 402.045,69 L402.045,311 C402.045,311 423.247,389.812 255,329 C172,299 68.0001,369 21.0001,273 C-26.7812,175.404 16.9184,77.4431 70.9999,33 C172,-50 220,53.9999 300,41.9999 Z');
    transform: translateX(600px);
    transform: scaleX(-1);
  }
  100%{
    d:path('M399.544,38.4444 C531.544,-48.0556 977.044,38.4444 977.044,38.4444 L977.044,938.445 C977.044,938.445 600.547,1132.86 366.544,1065.44 C198.725,1017.1 36.8275,976.29 3.04443,804.945 C-41.7432,577.785 421.472,680.14 483.044,456.944 C527.364,296.29 267.544,124.944 399.544,38.4444 Z')
  }
}
