html {
  font-size: $scaleRoot + px;
  @media (max-width: $vpDeviceSafe) {
    -webkit-text-size-adjust: 100%;
  }
  &.js {
      @include respond-to($vpMenu) {
          cursor: none;
          button, a, a:hover {
              cursor: none;
          }
      }
  }
}

body {
  color: $cText;
  font-family: $fontDefault;
  line-height: $lineheightBase;
  overflow-x: hidden;
  font-size: rem($typeDefault);
  @include respond-to($vpF) {
      font-size: rem($typeDefault + 2);
  }
}

a, .fauxlink {
  text-decoration: none;
  cursor: pointer;
  color: $cAction;
  @include link-active-styles {
    text-decoration-color: darken($cAction, 35%);
  }
}

// Overide iOS telephone styling on links
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

// Max with utl class
.max_width {
  max-width: 100%;
  height: auto;
  display: block;
}

// Full width utl class
.full_width {
  width: 100%;
  height: auto;
  display: block;
}

.content-container {
    @include respond-to($vpMenu) {
        padding-left: 115px;
    }
}

// Further sensible resets
strong, b {
  font-weight: $fontSemiBold;
	@include sharp-text;
}

input, textarea, select, button {
  font-family: $fontDefault;
}
