.footer {
    position: absolute;
    overflow-y: scroll;
    z-index: 15;
    width: 100%;
    height: 100vh;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(-100%);
    background-color: $sailorMoon;
    border: 0 solid #fff;
    transition: height 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s, border 0.3s ease-in-out 0.3s, opacity 0.3s ease-in-out 0s;
    @include respond-to($vpMenu) {
        position: fixed;
        transform: translateY(100%);
    }
    .social {
        transform: translateX(250px);
        margin-top: 2.1em;
        a {
            color: $cHeading;
        }
        @include respond-to($vpMenu) {
            margin-top: 0;
        }
    }
    &--active {
        height: 100vh;
        transform: translateY(0);
        opacity: 1;
        @include respond-to($vpMenu) {
            border: 3em solid #fff;
            transform: translateY(0);
        }
        .footer__close {
            transform: translateX(0);
        }
        .social {
            transform: translateX(0);
        }
    }
}

.footer__close {
    margin-left: 3em;
    margin-top: 5em;
    display: block;
    position: relative;
    transform: translateX(-100px);
    transition: transform 0.3s ease-in-out 1s;
    @include respond-to($vpMenu) {
        margin-top: 3em;
    }
    svg, img {
        width: 36px;
        height: 36px;
    }

    &:after {
        position: absolute;
        left: 3px;
        top: 3px;
        z-index: -1;
        transition: all linear 0.3s;
        content: "";
        background-image: url(../assets/icons/source/menu-close-white.svg);
        width: 36px;
        height: 36px;
    }
    @include link-active-styles {
        &:after {
            left: 0;
            top: 0;
        }
    }
}
