
.header {
    background-color: #fff;
    padding: 1.5em;
    position: absolute;
    width: 100%;
    left: 0;
    top: -100%;
    z-index: 10;
    border-bottom: 1px solid $cBorder;
    animation: swipeDown;
    animation-duration: 0.5s;
    animation-delay: 2.25s;
    animation-fill-mode: forwards;
    @include respond-to($vpMenu) {
        position: fixed;
        border-bottom: 0;
        padding: 2em;
        border-right: 1px solid $cBorder;
        height: 100vh;
        width: 115px;
        top: 0;
        left: -100%;
        animation: swipeRight;
        animation-duration: 0.5s;
        animation-delay: 2.25s;
        animation-fill-mode: forwards;
    }
}

.header__menu {
    transform: translateY(10px);
    color: $cHeading;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: rem($typeXS);
    @include respond-to($vpMenu) {
        transform: translateY(0);
    }
    span {
        margin-bottom: 0.75em;
        position: relative;
        width: 28px;
        height: 2px;
        background-color: $cHeading;
        display: block;
        border-radius: 1em;
        &:before {
            content: "";
            width: 38px;
            height: 2px;
            background-color: $cHeading;
            position: absolute;
            top: -7px;
            left: 0;
        }
        &:after {
            content: "";
            width: 20px;
            height: 2px;
            background-color: $cHeading;
            position: absolute;
            bottom: -7px;
            left: 0;
        }
    }
}

.header__icon {
    margin-left: 10px;
    display: block;
    position: relative;
    svg, img {
        width: 31px;
        height: 31px;
    }
    &:after {
        position: absolute;
        left: 3px;
        top: 3px;
        z-index: -1;
        transition: all linear 0.3s;
    }
    @include link-active-styles {
        &:after {
            left: 0;
            top: 0;
        }
    }
    &--menu {
        &:after {
            content: "";
            background-image: url(../assets/icons/source/menu-pink.svg);
            width: 31px;
            height: 31px;
            .body--about & {
                background-image: url(../assets/icons/source/menu-blue.svg);
            }
            .body--portfolio &, .body--portfolio-single & {
                background-image: url(../assets/icons/source/menu-yellow.svg);
            }
        }
    }
    &--next {
        margin-left: 4px;
        transform: rotate(-90deg);
        svg, img {
            width: 44px;
            height: 44px;
        }
        &:after {
            content: "";
            background-image: url(../assets/icons/source/arrow-down-pink.svg);
            width: 44px;
            height: 44px;
            .body--about & {
                background-image: url(../assets/icons/source/arrow-down-blue.svg);
            }
        }
    }
    &--prev {
        margin-left: 4px;
        transform: rotate(-90deg);
        svg, img {
            width: 44px;
            height: 44px;
        }
        &:after {
            content: "";
            background-image: url(../assets/icons/source/arrow-up-blue.svg);
            width: 44px;
            height: 44px;
            .body--portfolio &, .body--portfolio-single & {
                background-image: url(../assets/icons/source/arrow-up-yellow.svg);
            }
        }
    }
    &--email {
        position: absolute;
        bottom: 1.6em;
        right: 3em;
        &:after {
            content: "";
            background-image: url(../assets/icons/source/email-pink.svg);
            width: 31px;
            height: 31px;
            .body--about & {
                background-image: url(../assets/icons/source/email-blue.svg);
            }
            .body--portfolio &, .body--portfolio-single & {
                background-image: url(../assets/icons/source/email-yellow.svg);
            }
        }
        @include respond-to($vpMenu) {
            bottom: 3em;
            right: auto;
        }
    }
}

.header__controls {
    display: none;
    @include respond-to($vpMenu) {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        display: block;
    }
}
