// ------------------------------------------------------------
// Layout
// Defing layouts rather than using a set grid system
// Only define the scaffolding, not modules
// Prefix with 'l'
// ------------------------------------------------------------

%l {
	position: relative;
	display: block;
	@extend %pie-clearfix;
}

// For flexbox layouts
%l-flexbox {
	display: flex;
	flex-wrap: wrap;
}

// ------------------------------------------------------------
// 2 column grid
// ------------------------------------------------------------

.l-2up {
	@extend %l;
	@include respond-to($vpC) {
		@supports (display: grid) {
			display: grid;
			grid-template-columns: repeat(auto-fit, 47.5%);
			grid-gap: 5%;
			grid-row-gap: inherit;
		}
		@supports (display: -ms-grid) {
			display: block;
		}
	}
	&__col {
		margin-bottom: 3em;
		@include respond-to($vpC) {
			float: left;
			display: block;
			width: 47.5%;
			margin-left: 5%;
			&:nth-child(2n+1) {
				margin-left: 0;
				clear: left;
				@supports (display: grid) {
					margin-left: 0;
				}
			}
			@supports (display: grid) {
				margin-left: 0;
				width: auto;
			}
			@supports (display: -ms-grid) {
				float: left;
				width: 47.5%;
				margin-left: 5%;
				&:nth-child(2n+1) {
					margin-left: 0;
					clear: left;
				}
			}
		}
	}
	&__col--work:nth-child(odd) {
		margin-bottom: 7em;
		@include respond-to($vpC) {
            transform: translateY(60px);
        }
	}
    &__col--offset {
        @include respond-to($vpC) {
            transform: translateY(200px);
        }
		@include respond-to($vpD) {
            transform: translateY(300px);
        }
		@include respond-to($vpE) {
            transform: translateY(450px);
        }
    }
	&__col--offset-minor {
        @include respond-to($vpC) {
            transform: translateY(90px);
        }
		@include respond-to($vpD) {
            transform: translateY(90px);
        }
		@include respond-to($vpE) {
            transform: translateY(90px);
        }
    }
}

// ------------------------------------------------------------
// 4 column grid
// ------------------------------------------------------------

.l-4up {
	@extend %l;
	@supports (display: grid) {
		display: grid;
		grid-template-columns: repeat(auto-fit, 47.5%);
		grid-gap: 5%;
		grid-row-gap: inherit;
	}
	@supports (display: -ms-grid) {
		display: block;
	}
	@include respond-to($vpC) {
		@supports (display: grid) {
			display: grid;
			grid-template-columns: repeat(auto-fit, 21.25%);
			grid-gap: 5%;
			grid-row-gap: inherit;
		}
		@supports (display: -ms-grid) {
			display: block;
		}
	}
	&__col {
		margin-bottom: 3em;
		float: left;
		display: block;
		width: 47.5%;
		margin-left: 5%;
		&:nth-child(2n+1) {
			margin-left: 0;
			clear: left;
			@supports (display: grid) {
				margin-left: 0;
			}
		}
		@supports (display: grid) {
			margin-left: 0;
			width: auto;
		}
		@supports (display: -ms-grid) {
			float: left;
			width: 47.5%;
			margin-left: 5%;
			&:nth-child(2n+1) {
				margin-left: 0;
				clear: left;
			}
		}
		@include respond-to($vpC) {
			float: left;
			display: block;
			width: 21.25%;
			margin-left: 5%;
			&:nth-child(2n+1) {
				margin-left: 5%;
				clear: none;
				@supports (display: grid) {
					margin-left: 5%;
				}
			}
			&:nth-child(4n+1) {
				margin-left: 0%;
				clear: left;
				@supports (display: grid) {
					margin-left: 0;
				}
			}
			@supports (display: grid) {
				margin-left: 0;
				width: auto;
			}
			@supports (display: -ms-grid) {
				float: left;
				width: 21.25%;
				margin-left: 5%;
				&:nth-child(2n+1) {
					margin-left: 5%;
					clear: none;
				}
				&:nth-child(4n+1) {
					margin-left: 0%;
					clear: left;
					@supports (display: grid) {
						margin-left: 0;
					}
				}
			}
		}
	}
}


// ------------------------------------------------------------
// 5 column grid
// ------------------------------------------------------------

.l-5up {
	@extend %l;
	@supports (display: grid) {
		display: grid;
		grid-template-columns: repeat(auto-fit, 47.5%);
		grid-gap: 5%;
		grid-row-gap: inherit;
	}
	@supports (display: -ms-grid) {
		display: block;
	}
	@include respond-to($vpC) {
		@supports (display: grid) {
			display: grid;
			grid-template-columns: repeat(auto-fit, 16%);
			grid-gap: 5%;
			grid-row-gap: inherit;
		}
		@supports (display: -ms-grid) {
			display: block;
		}
	}
	&__col {
		margin-bottom: 3em;
		float: left;
		display: block;
		width: 47.5%;
		margin-left: 5%;
		&:nth-child(2n+1) {
			margin-left: 0;
			clear: left;
			@supports (display: grid) {
				margin-left: 0;
			}
		}
		@supports (display: grid) {
			margin-left: 0;
			width: auto;
		}
		@supports (display: -ms-grid) {
			float: left;
			width: 47.5%;
			margin-left: 5%;
			&:nth-child(2n+1) {
				margin-left: 0;
				clear: left;
			}
		}
		@include respond-to($vpC) {
			float: left;
			display: block;
			width: 16%;
			margin-left: 5%;
			&:nth-child(2n+1) {
				margin-left: 5%;
				clear: none;
				@supports (display: grid) {
					margin-left: 5%;
				}
			}
			&:nth-child(5n+1) {
				margin-left: 0%;
				clear: left;
				@supports (display: grid) {
					margin-left: 0;
				}
			}
			@supports (display: grid) {
				margin-left: 0;
				width: auto;
			}
			@supports (display: -ms-grid) {
				float: left;
				width: 16%;
				margin-left: 5%;
				&:nth-child(2n+1) {
					margin-left: 5%;
					clear: none;
				}
				&:nth-child(5n+1) {
					margin-left: 0%;
					clear: left;
					@supports (display: grid) {
						margin-left: 0;
					}
				}
			}
		}
	}
}
