
.row {
  @include pie-clearfix;
  padding-left: $bufferSpaceS;
  padding-right: $bufferSpaceS;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: auto;
  max-width: 1440px;
  &Static {
    position: static;
  }
  @include respond-to($vpMenu) {
      padding-left: $bufferSpaceL;
      padding-right: $bufferSpaceL;
  }
}
