.section {
    position: relative;
    margin: 200px 0;
    &--offset {
        @include respond-to($vpMenu) {
            margin-bottom: 250px;
        }
    }
    &--summary {
        margin-top: 400px;
        @include respond-to($vpB + 150px) {
            margin-top: 500px;
        }
        @include respond-to($vpMenu) {
            margin-top: 600px;
        }
        @include respond-to($vpD) {
            margin-top: 800px;
        }
    }
}

.section__module {
    margin-top: 50px;
}

.section__flourish {
    position: absolute;
    display: none;
    top: -50px;
    left: 0;
    @include respond-to($vpMenu) {
        display: block;
    }
    &.on-screen {
        svg.section__flourish-shape {
            max-height: 1080px;
            height: 100%;
            max-width: 100%;
            transform: translateX(-10px);
            path {
                d:path('M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z');
                animation-name: morph-left;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }
        }
        svg.section__flourish-outline {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-10px);
            max-height: 1164px;
            height: 100%;
            width: 100%;
            opacity: 0;
            animation-name: small;
            animation-duration: 0.5s;
            animation-delay: 2.5s;
            animation-fill-mode: forwards;
            path {
                d:path('M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z');
            }
        }
    }
}

.section__title {
    font-family: $fontVoice;
    color: $cHeading;
    font-size: rem($typeXL);
    line-height: 1.2;
    margin-bottom: 1em;
    // opacity: 0;
    // transform: translateY(100%);
    // transition: all, ease-in, 0.75s;
    // transition-delay: 0.25s;
    overflow: hidden;
    width: 0;
    white-space: nowrap;
    @include respond-to($vpMenu) {
        font-size: rem($typeXXL);
    }
    &--center {
        text-align: center;
        max-width: 80ch;
        margin-left: auto;
        margin-right: auto;
    }
    &.on-screen {
        // opacity: 1;
        // transform: translateY(0);
        animation: typing 0.75s steps(40, end);
        animation-delay: 0.25s;
        animation-fill-mode: forwards;
    }
}

.section__copy {
    opacity: 0;
    transform: translateY(50%);
    transition: all, ease-in, 0.75s;
    transition-delay: 0.25s;
    &.on-screen {
        opacity: 1;
        transform: translateY(0);
    }
    &--center {
        text-align: center;
        max-width: 80ch;
        margin-left: auto;
        margin-right: auto;
    }
    &--columns {
        @include respond-to($vpMenu) {
            columns: 2;
            column-gap: 100px;
        }
    }
}
