// Button defaults
// ------------------------------------------------------------------

// Button base style
%button {
  cursor: pointer;
  position: relative;
  padding: 0.25em 3em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: $btnRadius;
  transition-duration: 0.5s;
  text-align: center;
  transition: all linear 0.3s;
  span {
    font-size: inherit;
    font-weight: inherit;
  }
  &:focus {
    outline: none;
  }
}

// Sizes
// ------------------------------------------------------------------

.button,
a.button,
button.button {
  @extend %button;
  font-size: rem($typeS);
  line-height: $btnDefault;
  background-color: $cButtonPrimary;
  color: darken($cButtonPrimary, 50%);
  background: linear-gradient(259.07deg, #DAF8FF 4.07%, #B2EAF8 100%);
  box-shadow: 0px 8px 20px #E5F4F5;
  transition-duration: 0.1s;
  &:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-color: darken($cButtonPrimary, 5%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation-duration: 1s;
    border-radius: $btnRadius*2;
    opacity: 0;
  }
  @include link-active-styles {
    text-decoration: none;
    transition-duration: 0.1s;
    box-shadow: 0px 8px 20px darken(#E5F4F5, 3%);
    &:before {
      animation-name: hvr-ripple-out;
      animation-duration: 1s;
    }
  }

  // Sizes
  &Small {
    font-size: rem($typeS);
    line-height: $btnSmall;
    padding: 0 $btnPaddingSmall;
  }

  &--block {
      transform: translateX(-50%);
      left: 50%;
  }

  // Types
  &--secondary {
      background-color: $sailorMars;
      color: darken($sailorMars, 40%);
      background: linear-gradient(259.07deg, #FFFCE9 4.07%, #FDF7D2 100%);
      box-shadow: 0px 8px 20px #F8F3E1;;
    &:before {
        border-color: $sailorMars;
        animation-duration: 3.5s;
    }
    @include link-active-styles {
        box-shadow: 0px 8px 20px darken(#F8F3E1, 3%);
    }
  }

  &--tertiary {
      background-color: $sailorMoon;
      color: darken($sailorMoon, 35%);
      background: linear-gradient(259.07deg, #F5CED7 4.07%, #F8C3D0 100%);
      box-shadow: 0px 8px 20px #FAE0E6;;
    &:before {
        border-color: $sailorMoon;
        animation-duration: 3.5s;
    }
    @include link-active-styles {
        box-shadow: 0px 8px 20px darken(#FAE0E6, 3%);
    }
  }

  &Icon {
    padding-right: $btnPadding*3;
    text-align: left;
    svg {
      position: absolute;
      top: 50%;
      right: $btnPadding/1.25;
      transform: translateY(-50%);
      transition-duration: 0.3s;
      transition-property: transform;
      transition-timing-function: ease-out;
      transform-origin: top;
      height: 16px;
      width: 16px;
      display: block;
    }
    @include link-active-styles {
      svg {
        animation-name: hvr-icon-pop;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
      }
    }
    &.buttonPrimary {
      svg  {
        fill: #fff;
      }
    }
  }
  &Disabled {
    cursor: not-allowed;
    opacity: 0.3;
    filter: grayscale(100%);
    &:focus {
      outline: none;
      text-decoration: none;
    }
    @include link-active-styles {
      text-decoration: none;
    }
  }
  &Block {
    display: block;
  }
}
