.hero {
    position: relative;
    padding-top: 200px;
    @include respond-to($vpMenu) {
        padding-top: 250px;
    }
    &--home {
        padding-top: 0;
        height: 100vh;
    }
}

.hero__flourish {
    position: absolute;
    top: -100px;
    right: 0;
    height: 100vh;
    @include respond-to($vpMenu) {
        top: 0;
    }
    svg.hero__flourish-shape {
        max-height: 861px;
        height: 100%;
        max-width: 100%;
        path {
            d:path('M114.499 -0.999968L240.999 -1.00003L240.999 217.5C240.999 217.5 81.9999 310 67.499 217.5C52.9982 125 -29.0004 116 11.9998 57.5C53 -1.00005 114.499 -0.999968 114.499 -0.999968Z');
            animation-name: morph;
            animation-duration: 3s;
            animation-fill-mode: forwards;
        }
    }
    svg.hero__flourish-outline {
        position: absolute;
        top: 0;
        right: 0;
        max-height: 861px;
        height: 100%;
        width: 100%;
        opacity: 0;
        animation-name: small;
        animation-duration: 0.5s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;
        path {
            d:path('M6 -1.00002L665 -1.00006L665 861C665 861 195.93 718.511 245.775 487.68C295.619 256.85 212.917 235.324 84.8721 149.674C-30.0745 72.7857 6 -1.00002 6 -1.00002Z');
        }
    }
    .body--about &, .body--portfolio &, .body--portfolio-single & {
        top: 0;
        right: 0;
        height: 1080px;
        @include respond-to($vpMenu) {
            top: 130px;
        }
        svg.hero__flourish-shape {
            max-height: 1080px;
            max-width: 100%;
            path {
                d:path('M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z');
                animation-name: morph-blue;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }
        }
        svg.hero__flourish-outline {
            max-height: 1164px;
            width: 100%;
            @include respond-to($vpMenu) {
                right: -40px;
            }
            path {
                d:path('M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z');
            }
        }
    }
}

.hero__caption {
    .button {
        margin-top: 2em;
        opacity: 0;
        animation-name: fadeIn;
        animation-duration: 0.75s;
        animation-delay: 2.25s;
        animation-fill-mode: forwards;
    }
    .hero--home & {
        margin-top: 0;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
    }
}

.hero__title {
    overflow: hidden;
    font-family: $fontVoice;
    color: $cHeading;
    font-size: rem($typeXL);
    line-height: 1.2;
    white-space: nowrap;
    width: 0;
    animation: typing 0.75s steps(40, end);
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    span {
        position: relative;
        display: inline-block;
        &:after {
            content: "";
            overflow: hidden;
            background-image: url(../assets/img/brush-pink.svg);
            background-repeat: no-repeat;
            position: absolute;
            height: 13px;
            width: 0;
            display: block;
            z-index: -1;
            bottom: 3px;
            animation: typing .3s steps(40, end);
            animation-delay: 2.5s;
            animation-fill-mode: forwards;
        }
    }
    .body--about & {
        span:after {
            background-image: url(../assets/img/brush-blue.svg);
        }
    }
    .body--portfolio &, .body--portfolio-single & {
        span:after {
            background-image: url(../assets/img/brush-yellow.svg);
        }
    }
    @include respond-to($vpMenu) {
        font-size: rem($typeXXL);
    }
}

.hero__copy {
    font-size: rem($typeDefault);
    margin-top: 2em;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    &--major {
        font-size: rem($typeDefault + 2);
    }
    @include respond-to($vpC) {
        max-width: 40%;
    }
    @include respond-to($vpD) {
        max-width: 50%;
        .hero--home & {
            max-width: 45%;
        }
    }
    @include respond-to($vpF) {
        max-width: 60%;
        font-size: rem($typeDefault + 2);
        .hero--home & {
            max-width: 55%;
        }
    }
}
