.m-image {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 10px 50px rgba(38, 45, 56, 0.15);
    opacity: 0;
    transform: scale(0.8);
    transition: all, cubic-bezier(0.285, 0.105, 0.465, 1.015), 0.75s;
    img {
        width: 100%;
        display: block;
        height: auto;
    }
    &--overlay {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($sailorMercury, 0.5);
        }
    }
    &--preview {
        max-height: 600px;
        @include respond-to($vpC) {
            max-height: 800px;
        }
    }
    &--full {
        max-height: 900px;
        @include respond-to($vpC) {
            max-height: 1470px;
        }
    }
    &.on-screen {
        opacity: 1;
        transition-delay: 0.3s;
        transform: scale(1);
    }
}

.m-service {
    overflow: hidden;
    &.on-screen {
        .m-service__icon {
            transform: scale(1);
            opacity: 1;
            transition: all, ease-in-out, 0.75s;
            &:after {
                top: 10px;
                left: 10px;
                transition: all, ease-in-out, 0.5s;
                transition-delay: 1s;
            }
        }
        .m-service__copy {
            opacity: 1;
            transition: all, ease-in-out, 0.75s;
            transition-delay: 0.75s;
        }
    }
}

.m-service__icon {
    position: relative;
    margin-bottom: 2em;
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.8);
    opacity: 0;
    svg, img {
        max-width: 120px;
        display: block;
        height: auto;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 112px;
        background-color: $sailorMercury;
        z-index: -1;
    }
}

.m-service__copy {
    font-size: rem($typeDefault);
    text-align: center;
    line-height: 1.5;
    opacity: 0;
    @include respond-to($vpE) {
		font-size: rem($typeDefault + 2);
	}
}

.m-testimonial {
    position: relative;
    @include respond-to($vpMenu) {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    &__icon {
        position: absolute;
        top: -4em;
        left: 0;
        opacity: 0;
        transition: opacity, ease-in-out, 0.75s;
        transition-delay: 1s;
        img {
            width: 50px;
            height: 50px;
        }
        &:after {
            position: absolute;
            left: 3px;
            top: 4px;
            z-index: -1;
            content: "";
            background-image: url(../assets/icons/source/quotes-blue.svg);
            background-size: contain;
            width: 50px;
            height: 50px;
        }
        @include respond-to($vpMenu) {
            left: -1em;
        }
    }
    &.on-screen {
        .m-testimonial__icon {
            opacity: 1;
        }
        .m-testimonial__flourish {
            transform: scale(1);
        }
        .m-testimonial__copy, .m-testimonial__meta {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.m-testimonial__flourish {
    position: absolute;
    z-index: -1;
    top: -150px;
    left: -150px;
    transform: scale(0);
    transition: transform, ease-in, 0.75s;
    transition-delay: 0.25s;
}

.m-testimonial__copy {
    font-size: rem($typeDefault);
    color: $cHeading;
    opacity: 0;
    transform: translateY(50%);
    transition: all, ease-in, 0.75s;
    transition-delay: 0.25s;
	@include respond-to($vpE) {
		font-size: rem($typeDefault + 2);
	}
}

.m-testimonial__meta {
    font-size: rem($typeXS);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-style: normal;
    margin-top: 1em;
    display: block;
    opacity: 0;
    transition: opacity, ease-in, 0.75s;
    transition-delay: 0.75s;
}

/* Coded by Lorenzo Bocchi ~ www.be.net/LorenzoBocchi */
/* Designed by CSS Design Awards ~ www.cssdesignawards.com */

/* purple: #673AB7 */
/* light: #EDEDED */
/* black: #000000 */

#cssda-badge{
  /* monogram position here */
  position: absolute;
  top:  2em;
  right: 2em;
  z-index: 10;
  /* ––– */
  width: 90px;
  height: 90px;
  border-radius: 90px;
  background: #EDEDED;
  -webkit-transition: all .25s cubic-bezier(.615,.19,.305,.91);
  -moz-transition: all .25s cubic-bezier(.615,.19,.305,.91);
  transition: all .25s cubic-bezier(.615,.19,.305,.91);
  cursor: pointer;
}
#cssda-badge:hover{
  -webkit-animation: bounce .75s linear both;
  -moz-animation: bounce .75s linear both;
  animation: bounce .75s linear both;
  background: #673AB7;
}
#cssda-badge svg {
  position: absolute;
  width: 90px;
  height: 90px;
  fill: #000000;
}
#cssda-badge:hover svg{
  fill: #EDEDED;
}
.cssda-badge-content{
  position: absolute;
  width: 90px;
  height: 90px;
  -webkit-transition: all .12s cubic-bezier(.615,.19,.305,.91);
  -moz-transition: all .12s cubic-bezier(.615,.19,.305,.91);
  transition: all .12s cubic-bezier(.615,.19,.305,.91);
}
#cssda-badge:hover .cssda-badge-content{
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
}
#cssda-badge:hover #cssda-badge-logo{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
@media only screen and (max-width: 700px) {
  #cssda-badge{
    /* monogram responsive position here */
    top: 6em;
    right: 1em;
    /* ––– */
    width: 60px;
    height: 60px;
  }
  #cssda-badge svg {
    width: 60px;
    height: 60px;
  }
  #cssda-badge-logo{
    -webkit-transform: scale(1.35);
    -moz-transform: scale(1.35);
    transform: scale(1.35);
  }
  #cssda-badge:hover #cssda-badge-logo{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
  }
  #cssda-badge-title{
    display: none;
  }
  #cssda-badge-award{
    display: none;
  }
}

/* Generated with Bounce.js */
@-webkit-keyframes bounce{0%{-webkit-transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)}3.4%{-webkit-transform:matrix3d(1.032,0,0,0,0,1.041,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.032,0,0,0,0,1.041,0,0,0,0,1,0,0,0,0,1)}4.7%{-webkit-transform:matrix3d(1.045,0,0,0,0,1.06,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.045,0,0,0,0,1.06,0,0,0,0,1,0,0,0,0,1)}6.81%{-webkit-transform:matrix3d(1.066,0,0,0,0,1.089,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.066,0,0,0,0,1.089,0,0,0,0,1,0,0,0,0,1)}9.41%{-webkit-transform:matrix3d(1.088,0,0,0,0,1.117,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.088,0,0,0,0,1.117,0,0,0,0,1,0,0,0,0,1)}10.21%{-webkit-transform:matrix3d(1.094,0,0,0,0,1.123,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.094,0,0,0,0,1.123,0,0,0,0,1,0,0,0,0,1)}13.61%{-webkit-transform:matrix3d(1.112,0,0,0,0,1.133,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.112,0,0,0,0,1.133,0,0,0,0,1,0,0,0,0,1)}14.11%{-webkit-transform:matrix3d(1.114,0,0,0,0,1.133,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.114,0,0,0,0,1.133,0,0,0,0,1,0,0,0,0,1)}17.52%{-webkit-transform:matrix3d(1.121,0,0,0,0,1.124,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.121,0,0,0,0,1.124,0,0,0,0,1,0,0,0,0,1)}18.72%{-webkit-transform:matrix3d(1.121,0,0,0,0,1.119,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.121,0,0,0,0,1.119,0,0,0,0,1,0,0,0,0,1)}21.32%{-webkit-transform:matrix3d(1.12,0,0,0,0,1.107,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.12,0,0,0,0,1.107,0,0,0,0,1,0,0,0,0,1)}24.32%{-webkit-transform:matrix3d(1.115,0,0,0,0,1.096,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.115,0,0,0,0,1.096,0,0,0,0,1,0,0,0,0,1)}25.23%{-webkit-transform:matrix3d(1.113,0,0,0,0,1.094,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.113,0,0,0,0,1.094,0,0,0,0,1,0,0,0,0,1)}29.03%{-webkit-transform:matrix3d(1.106,0,0,0,0,1.09,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.106,0,0,0,0,1.09,0,0,0,0,1,0,0,0,0,1)}29.93%{-webkit-transform:matrix3d(1.105,0,0,0,0,1.09,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.105,0,0,0,0,1.09,0,0,0,0,1,0,0,0,0,1)}35.54%{-webkit-transform:matrix3d(1.098,0,0,0,0,1.096,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.098,0,0,0,0,1.096,0,0,0,0,1,0,0,0,0,1)}36.74%{-webkit-transform:matrix3d(1.097,0,0,0,0,1.098,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.097,0,0,0,0,1.098,0,0,0,0,1,0,0,0,0,1)}41.04%{-webkit-transform:matrix3d(1.096,0,0,0,0,1.102,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.096,0,0,0,0,1.102,0,0,0,0,1,0,0,0,0,1)}44.44%{-webkit-transform:matrix3d(1.097,0,0,0,0,1.103,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.097,0,0,0,0,1.103,0,0,0,0,1,0,0,0,0,1)}52.15%{-webkit-transform:matrix3d(1.099,0,0,0,0,1.101,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.099,0,0,0,0,1.101,0,0,0,0,1,0,0,0,0,1)}59.86%,63.26%{-webkit-transform:matrix3d(1.101,0,0,0,0,1.099,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.101,0,0,0,0,1.099,0,0,0,0,1,0,0,0,0,1)}100%,75.28%,85.49%,90.69%{-webkit-transform:matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1)}}@keyframes bounce{0%{-webkit-transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)}3.4%{-webkit-transform:matrix3d(1.032,0,0,0,0,1.041,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.032,0,0,0,0,1.041,0,0,0,0,1,0,0,0,0,1)}4.7%{-webkit-transform:matrix3d(1.045,0,0,0,0,1.06,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.045,0,0,0,0,1.06,0,0,0,0,1,0,0,0,0,1)}6.81%{-webkit-transform:matrix3d(1.066,0,0,0,0,1.089,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.066,0,0,0,0,1.089,0,0,0,0,1,0,0,0,0,1)}9.41%{-webkit-transform:matrix3d(1.088,0,0,0,0,1.117,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.088,0,0,0,0,1.117,0,0,0,0,1,0,0,0,0,1)}10.21%{-webkit-transform:matrix3d(1.094,0,0,0,0,1.123,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.094,0,0,0,0,1.123,0,0,0,0,1,0,0,0,0,1)}13.61%{-webkit-transform:matrix3d(1.112,0,0,0,0,1.133,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.112,0,0,0,0,1.133,0,0,0,0,1,0,0,0,0,1)}14.11%{-webkit-transform:matrix3d(1.114,0,0,0,0,1.133,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.114,0,0,0,0,1.133,0,0,0,0,1,0,0,0,0,1)}17.52%{-webkit-transform:matrix3d(1.121,0,0,0,0,1.124,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.121,0,0,0,0,1.124,0,0,0,0,1,0,0,0,0,1)}18.72%{-webkit-transform:matrix3d(1.121,0,0,0,0,1.119,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.121,0,0,0,0,1.119,0,0,0,0,1,0,0,0,0,1)}21.32%{-webkit-transform:matrix3d(1.12,0,0,0,0,1.107,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.12,0,0,0,0,1.107,0,0,0,0,1,0,0,0,0,1)}24.32%{-webkit-transform:matrix3d(1.115,0,0,0,0,1.096,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.115,0,0,0,0,1.096,0,0,0,0,1,0,0,0,0,1)}25.23%{-webkit-transform:matrix3d(1.113,0,0,0,0,1.094,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.113,0,0,0,0,1.094,0,0,0,0,1,0,0,0,0,1)}29.03%{-webkit-transform:matrix3d(1.106,0,0,0,0,1.09,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.106,0,0,0,0,1.09,0,0,0,0,1,0,0,0,0,1)}29.93%{-webkit-transform:matrix3d(1.105,0,0,0,0,1.09,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.105,0,0,0,0,1.09,0,0,0,0,1,0,0,0,0,1)}35.54%{-webkit-transform:matrix3d(1.098,0,0,0,0,1.096,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.098,0,0,0,0,1.096,0,0,0,0,1,0,0,0,0,1)}36.74%{-webkit-transform:matrix3d(1.097,0,0,0,0,1.098,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.097,0,0,0,0,1.098,0,0,0,0,1,0,0,0,0,1)}41.04%{-webkit-transform:matrix3d(1.096,0,0,0,0,1.102,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.096,0,0,0,0,1.102,0,0,0,0,1,0,0,0,0,1)}44.44%{-webkit-transform:matrix3d(1.097,0,0,0,0,1.103,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.097,0,0,0,0,1.103,0,0,0,0,1,0,0,0,0,1)}52.15%{-webkit-transform:matrix3d(1.099,0,0,0,0,1.101,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.099,0,0,0,0,1.101,0,0,0,0,1,0,0,0,0,1)}59.86%,63.26%{-webkit-transform:matrix3d(1.101,0,0,0,0,1.099,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.101,0,0,0,0,1.099,0,0,0,0,1,0,0,0,0,1)}100%,75.28%,85.49%,90.69%{-webkit-transform:matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1);transform:matrix3d(1.1,0,0,0,0,1.1,0,0,0,0,1,0,0,0,0,1)}}
