.navigation {
    position: absolute;
    overflow: hidden;
    z-index: 15;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    background-color: $sailorMoon;
    transition: height 0.3s ease-in-out 0s, border 0.3s ease-in-out 0.3s;
    border: 0 solid #fff;
    @include respond-to($vpMenu) {
        position: fixed;
    }
    &--active {
        height: 100vh;
        @include respond-to($vpMenu) {
            border: 3em solid #fff;
        }
        .navigation__close {
            transform: translateX(0);
        }
        .social {
            transform: translateX(0);
        }
    }
    .body--about & {
        background-color: $sailorMercury;
    }
    .body--portfolio &, .body--portfolio-single & {
        background-color: $sailorMars;
    }
}

.navigation__close {
    margin-left: 3em;
    margin-top: 3em;
    display: block;
    position: relative;
    transform: translateX(-100px);
    transition: transform 0.3s ease-in-out 1s;
    svg, img {
        width: 36px;
        height: 36px;
    }
    &:after {
        position: absolute;
        left: 3px;
        top: 3px;
        z-index: -1;
        transition: all linear 0.3s;
        content: "";
        background-image: url(../assets/icons/source/menu-close-white.svg);
        width: 36px;
        height: 36px;
    }
    @include link-active-styles {
        &:after {
            left: 0;
            top: 0;
        }
    }
}


.navigation__list {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.285, 0.105, 0.465, 1.015) 0s;
    .navigation--active & {
        opacity: 1;
        transition: opacity 0.5s cubic-bezier(0.285, 0.105, 0.465, 1.015) 0.75s;
    }
}

.navigation__list-item {
    font-family: $fontVoice;
    font-size: rem($typeXL);
    line-height: 1.2;
    margin-bottom: 1em;
    overflow: hidden;
    @include respond-to($vpMenu) {
        font-size: rem($typeXXL);
    }
    a {
        color: $cHeading;
        text-decoration: none;
        position: relative;
        transform: translateY(-100%);
        display: inline-block;
        @include link-active-styles {
            &:after {
                content: "";
                overflow: hidden;
                background-image: url(../assets/img/brush-white.svg);
                background-repeat: no-repeat;
                position: absolute;
                height: 13px;
                width: 0;
                display: block;
                z-index: -1;
                bottom: 3px;
                left: 50%;
                transform: translateX(-50%);
                animation: typing .3s steps(40, end);
                animation-fill-mode: forwards;
            }
        }
    }
    &.current {
        a:after {
            content: "";
            overflow: hidden;
            background-image: url(../assets/img/brush-white.svg);
            background-repeat: no-repeat;
            position: absolute;
            height: 13px;
            width: 100%;
            display: block;
            z-index: -1;
            bottom: 3px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .navigation--active & {
        a {
            transform: translateY(0);
            transition-duration: 0.3s;
            transition-delay: 0.3s;
        }
        &:nth-of-type(1) {
            a {
                transition-delay: 0.65s;
            }
        }
        &:nth-of-type(2) {
            a {
                transition-delay: 0.75s;
            }
        }
        &:nth-of-type(3) {
            a {
                transition-delay: 0.8s;
            }
        }
    }
}
