// ------------------------------------------------------------
// Placeholders
// ------------------------------------------------------------

// Clearfixes
%clearfix 				{ overflow: hidden; *zoom: 1;}
%pie-clearfix 			{ &:after { content: ""; display: table; clear: both; *zoom: 1; } }

// Images
%max-width 				{ max-width: 100%; height: auto; display: block; }

.cursor {
    display: none;
    @include respond-to($vpMenu) {
        position: fixed;
        left: 0;
        top: 0;
        pointer-events: none;
        display: block;
    }
}
.cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: $cHeading;
}

.cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
}
