.social {
    position: absolute;
    top: 3em;
    right: 3em;
    transform: translateX(150px);
    transition: transform 0.3s ease-in-out 1s;
    &__item {
        display: inline-block;
        margin-right: 1em;
        svg, img {
            width: 20px;
            height: 20px;
        }
    }
}
