
.transition-fade {
    transition: 1s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
    .hero__flourish {
        right: -100%;
        transition: 1.25s;
        opacity: 0;
    }
    .header {
        transform: translateX(-100%);
        transition: 1s;
        opacity: 0;
    }
}

// .transition-fade {
//
// }
//
// html.is-animating .transition-fade {
//     .header {
//         left: -100%;
//     }
// }
//
// html.is-leaving .transition-fade {
//     .header {
//         left: -100%;
//     }
// }
