.teaser {
    position: relative;
    background-color: lighten($sailorMars, 5%);
    padding: 2em;
    border-radius: 30px;
    min-height: 435px;
    display: block;
    transition: all, ease-in-out, 0.3s;
    opacity: 0;
    transition-delay: 0s;
    transform: scale(0.8);
    @include respond-to($vpMenu) {
        padding: 4em;
    }
    &.on-screen {
        opacity: 1;
        transform: scale(1);
    }
}

a.teaser {
    .teaser__title {
        text-decoration: none;
    }
    &:hover {
        transform: translateY(-2px);
        transition-delay: 0s;
        box-shadow: 0 10px 50px rgba(38, 45, 56, 0.15);
        padding: 4.5em;
        .teaser__flourish svg image {
            opacity: 1;
        }
        .teaser__logo {
            right: -15px;
            bottom: -15px;
            transition: all, ease-in-out, 0.3s;
            border-radius: 50%;
        }
    }
}

.teaser__title {
    font-family: $fontVoice;
    color: $cHeading;
    font-size: rem($typeL);
    line-height: 1.2;
    max-width: 70%;
}

.teaser__meta {
    @extend %pie-clearfix;
    margin-top: 1.5em;
    display: block;
    font-size: rem($typeXS);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $cText;
    li {
        position: relative;
        float: left;
        list-style: none;
        margin-right: 12px;
        &:after {
            content: "|";
            position: absolute;
            top: 0;
            right: -8px;
        }
        &:last-child {
            &:after {
                content: none;
            }
        }
    }
    .hero & {
        opacity: 0;
        animation-name: fadeIn;
        animation-duration: 0.75s;
        animation-delay: 1.75s;
        animation-fill-mode: forwards;
    }
}

.teaser__flourish {
    position: absolute;
    bottom: 0;
    right: 0;
    svg.teaser__flourish-shape {
        max-width: 90%;
        max-height: 408px;
        height: 100%;
        transform: translateX(11%);
        path {
            d:path('M485 23.7617C485 23.7617 381.532 -29.7021 302.624 23.7617C223.716 77.2254 308.895 155.672 243.574 193.146C178.253 230.621 48.6564 216.131 12.5992 270.594C-14.5916 311.664 11.397 368.931 25.8222 394.611C30.6419 403.191 39.8719 408 49.7131 408H455C471.569 408 485 394.569 485 378V23.7617Z');
        }
        image {
            transition: all, ease-in-out, 0.3s;
        }
    }
    svg.teaser__flourish-outline {
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 0;
        width: auto;
        max-height: 420px;
        height: 100%;
        path {
            d:path('M317.704 24.8743C358.129 -2.53882 404.868 -2.55433 441.554 4.31342C459.892 7.74634 475.701 12.8962 486.925 17.1881C492.537 19.3338 497.001 21.2646 500.062 22.6582C501.592 23.355 502.77 23.9175 503.566 24.3053C503.964 24.4992 504.266 24.6495 504.468 24.7511L504.5 24.7674V390C504.5 406.292 491.292 419.5 475 419.5H33.366C33.3574 419.488 33.3485 419.475 33.3392 419.461C33.2239 419.293 33.0532 419.042 32.8321 418.712C32.3899 418.052 31.7466 417.076 30.9437 415.816C29.3378 413.295 27.0939 409.636 24.5445 405.087C19.4447 395.988 13.1268 383.336 8.24691 369.119C-1.52535 340.649 -5.47151 306.09 17.369 281.113C18.7475 279.606 20.064 277.995 21.2782 276.356C31.0321 263.187 46.4479 254.137 65.1887 247.389C83.927 240.642 105.933 236.217 128.813 232.258C135.002 231.188 141.255 230.151 147.525 229.112C164.415 226.312 181.417 223.494 197.571 219.94C219.723 215.066 240.331 208.797 256.939 199.261C273.866 189.542 281.074 177.133 283.602 163.136C285.869 150.586 284.369 136.759 282.825 122.521C282.654 120.94 282.481 119.354 282.314 117.764C280.634 101.817 279.404 85.4419 283.627 69.6279C287.843 53.8392 297.508 38.5707 317.704 24.8743Z');
        }
    }
}

.teaser__logo {
    position: absolute;
    right: -20px;
    bottom: -20px;
    z-index: 10;
    background-color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 60px;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
    background-size: 65%;
    background-position: center;
    transition: all, ease-in-out, 0.3s;
    &--round {
        background-size: 50%;
    }
}
