<header class="header">
    <button type="button" class="header__menu js-menu-trigger js-link">
        <!-- <img src="/assets/icons/source/menu.svg"> -->
        <span></span>
        Menu
    </button>

    <div class="header__controls">
        
            <a href="" class="header__icon header__icon--prev js-link">
                <img src="/assets/icons/source/arrow-up.svg">
            </a>
        
        
            <a href="" class="header__icon header__icon--next js-link">
                <img src="/assets/icons/source/arrow-down.svg">
            </a>
        
    </div>

    <button type="button" class="header__icon header__icon--email js-contact-trigger js-link">
        <img src="/assets/icons/source/email.svg">
    </button>
</header>
<nav class="navigation" id="navigation">
    <button type="button" class="navigation__close js-menu-close js-link">
        <img src="/assets/icons/source/menu-close.svg">
    </button>

    <ul class="social">
        <li class="social__item">
            <a href="https://dribbble.com/darbice" class="js-link">
                <img src="/assets/icons/source/dribbble.svg">
            </a>
        </li>
        <li class="social__item">
            <a href="https://twitter.com/darbice" class="js-link">
                <img src="/assets/icons/source/twitter.svg">
            </a>
        </li>
    </ul>

    <ul class="navigation__list">
        <li class="navigation__list-item "><a href="/" class="js-link">Home</a></li>
        <li class="navigation__list-item "><a href="/about" class="js-link">About</a></li>
        <li class="navigation__list-item "><a href="/work" class="js-link">Work</a></li>
        <!-- <li class="navigation__list-item "><a href="#" class="js-contact-trigger js-link">Contact</a></li> -->
    </ul>
</nav>

