{% set title = 'Ben Darby | About me' %}
{% set section = 'about' %}
{% extends 'layouts/default.html' %}

{% block precontent %}
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero__flourish">
        <svg class="hero__flourish-shape" width="977" height="1080" viewBox="0 0 977 1080">
            <path fill="#DAF8FF" d="M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z" />
        </svg>
        <svg class="hero__flourish-outline" width="977" height="1164" viewBox="0 0 977 1164">
            <path fill="none" stroke="#DAF8FF" stroke-width="2" d="M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z" />
        </svg>
    </div>
    <div class="row">
        <div class="hero__caption">
            <h1 class="hero__title">A little <br>about <span>me</span></h1>
            <p class="hero__copy">After 7 years of working in agency environments, starting as a graduate designer right through to becoming a lead designer at a studio I made the move to freelance in 2019. Since then I have been working with a variety of clients creating exciting digital products.</p>
            <a href="/work" class="button button--secondary js-link">View my work</a>
        </div>
    </div>
</section>

<section class="section section--offset">
    <div class="row">
        <div class="l-2up">
            <div class="l-2up__col">
                <div class="m-image m-image--overlay animate">
                    <img src="/assets/img/portrait.jpg" alt="Ben Darby">
                </div>
            </div>
            <div class="l-2up__col l-2up__col--offset">
                <div class="section__copy animate">
                    <div class="typebase">
                        <p>I help explore, design and develop products for global companies, small independent businesses, startups and contracting for agencies including Bristol Museums, NHS, Development Initiatives, Met Office and Future Publishing. </p>
                        <p>I work with a group of trusted collaborators in UX Design, Development and Branding allowing me to deliver a wide variety of products with the best possible care and attention for your project.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <h2 class="section__title animate">Services</h2>
        <div class="l-4up">
            <div class="l-4up__col">
                <div class="m-service animate">
                    <div class="m-service__icon">
                        <img src="/assets/icons/source/web.svg">
                    </div>
                    <p class="m-service__copy">Web &amp; UI Design</p>
                </div>
            </div>
            <div class="l-4up__col">
                <div class="m-service animate">
                    <div class="m-service__icon">
                        <img src="/assets/icons/source/product.svg">
                    </div>
                    <p class="m-service__copy">Product Design</p>
                </div>
            </div>
            <div class="l-4up__col">
                <div class="m-service animate">
                    <div class="m-service__icon">
                        <img src="/assets/icons/source/frontend.svg">
                    </div>
                    <p class="m-service__copy">Front-end Development</p>
                </div>
            </div>
            <div class="l-4up__col">
                <div class="m-service animate">
                    <div class="m-service__icon">
                        <img src="/assets/icons/source/ux.svg">
                    </div>
                    <p class="m-service__copy">UX Design</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="m-testimonial animate">
            <div class="m-testimonial__flourish">
                <img src="/assets/img/flourish-grey.svg" alt="">
            </div>
            <div class="m-testimonial__icon">
                <img src="/assets/icons/source/quotes.svg" alt="">
            </div>
            <p class="m-testimonial__copy">Ben did an amazing job of designing two websites we were working on and put a lot of thought and artistic flare into making the designs unique and interesting. The delivery of the product was on time and to a high standard and he helped us with some extra elements that were needed to the designs. Ben was a pleasure to work with and I would highly recommend his services!</p>
            <cite class="m-testimonial__meta">Jack | aPriori Digital</cite>
        </div>
    </div>
</section>
{% endblock %}

{% block postcontent %}
{% endblock %}

{% block script %}
{% endblock %}
