{% set title = 'Ben Darby | Product Designer' %}
{% set section = 'home' %}
{% extends 'layouts/default.html' %}

{% block precontent %}
{% endblock %}

{% block content %}
<section class="hero hero--home">
    <div class="hero__flourish">
        <svg class="hero__flourish-shape" viewBox="0 0 665 861">
            <path fill="#FAE0E6" stroke="#FAE0E6" stroke-width="2" d="M6 -1.00002L665 -1.00006L665 861C665 861 195.93 718.511 245.775 487.68C295.619 256.85 212.917 235.324 84.8721 149.674C-30.0745 72.7857 6 -1.00002 6 -1.00002Z" />
        </svg>
        <svg class="hero__flourish-outline" viewBox="0 0 665 861">
            <path fill="none" stroke="#FAE0E6" stroke-width="2" d="M6 -1.00002L665 -1.00006L665 861C665 861 195.93 718.511 245.775 487.68C295.619 256.85 212.917 235.324 84.8721 149.674C-30.0745 72.7857 6 -1.00002 6 -1.00002Z" />
        </svg>
    </div>
    <div class="row">
        <div class="hero__caption">
            <h1 class="hero__title">Hello, <br>my name is <span>Ben</span></h1>
            <p class="hero__copy hero__copy--major">I’m a Product Designer from the UK, helping companies deliver beautiful, intuitive online experiences through solid research, thoughtful design and accessible code.</p>
            <a href="/about" class="button js-link">A little about me</a>
        </div>
    </div>
</section>
{% endblock %}

{% block postcontent %}
{% endblock %}

{% block script %}
{% endblock %}
