
// Brand colours
// ------------------------------------------------------------------

// Core colours
$sailorMoon:        #FAE0E6!default;
$sailorMercury:     #DAF8FF!default;
$sailorMars:        #F8F1C7!default;

// Greyscales
$sailorJupiter:     #2F2F2F!default;
$sailorNeptune:     #6b6b6b!default;
$sailorVenus:       #F3F3F3!default;


// Non-brand feedbacks
// ------------------------------------------------------------------
$cError: 			#B10E1E;
$cSuccess: 			#00823B;
$cAlert: 			#FFBF47;


// Assign colours to declarative variables
// ------------------------------------------------------------------

// Actions
$cAction: 		    $sailorMoon;
$cActionRespond: 	$sailorJupiter;
$cActionVisited:    $sailorJupiter;

// Buttons
$cButtonPrimary:    $sailorMercury;
$cButtonSecondary:  $sailorMars;
$cButtonDisabled:   $sailorVenus;
$cButtonDanger:     $cError;
$cButtonSuccess:    $cSuccess;

// Default text colors
$cHeading: 		    $sailorJupiter;
$cLabel:            $sailorJupiter;
$cText: 			$sailorNeptune;

// Misc. color assignments
$cBorder:           $sailorVenus;
$cDisabled: 		$sailorVenus;
