
@import 'viewports.scss';

// General spacing options
// ------------------------------------------------------------------

$bufferSpaceS: 5%;
$bufferSpaceL: 8%;


// Ratios
// ------------------------------------------------------------------

$ratioWidescreen: 56.25%;


// Buttons
// ------------------------------------------------------------------

$btnSmall:    30px;
$btnDefault:  35px;
$btnRadius:   5px;
$btnPadding:  15px;
$btnPaddingSmall: $btnPadding/1.25;


// Misc
// ------------------------------------------------------------------

$formItem: 40px;
$strokeWidth: 1px;
