
// Type scale
// ------------------------------------------------------------------

$scaleRoot: 			10;
$lineheightRoot: 		20;
$lineheightBase: 		$lineheightRoot / $scaleRoot;

$typeXXL: 				$scaleRoot*6;
$typeXL: 				$scaleRoot*3.8;
$typeL: 				$scaleRoot*2.8;
$typeM:					$scaleRoot*2;
$typeMe:				$scaleRoot*1.6;		// Me = 'median'. Generally the standard font size for the page
$typeS: 				$scaleRoot*1.4;
$typeXS: 				$scaleRoot*1.2;
$typeXXS: 				$scaleRoot;

// Declaritives
$typeDefault: 			$typeMe;


// Functions and mixins
// ------------------------------------------------------------------

// Make pixel values into REMS
@function rem($pixels){
	@return $pixels / $scaleRoot + rem; // Usage = font-size: rem(xx);
}

// Tighten leading
@mixin leading_adjust($gapAdjust) {
	line-height:  $lineheightBase - ($gapAdjust/$scaleRoot);
	margin-bottom: rem($lineheightBase + $gapAdjust);
}
