{% set title = 'Ben Darby | ARC West' %}
{% set section = 'portfolio-single' %}
{% extends 'layouts/default.html' %}

{% block precontent %}
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero__flourish">
        <svg class="hero__flourish-shape" width="977" height="1080" viewBox="0 0 977 1080">
            <path id="image" fill="#F8F1C7" d="M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z" />
            <clipPath id="clip">
                <use href="#image"  style="overflow:visible;"/>
            </clipPath>
            <g style="clip-path:url(#clip);">
                <image style="overflow:visible;" opacity="0.4" width="1237" height="1650" href="/assets/img/arc-main.jpg" x="0" y="0"></image>
            </g>
        </svg>
        <svg class="hero__flourish-outline" width="977" height="1164" viewBox="0 0 977 1164">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" d="M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z" />
        </svg>
    </div>
    <div class="row">
        <div class="hero__caption">
            <h1 class="hero__title">ARC West</h1>
            <ul class="teaser__meta">
                <li>Design</li>
                <li>Front-end</li>
            </ul>
            <p class="hero__copy">The National Institute for Health Research Applied Research Collaboration West (NIHR ARC West) collaborates with partner organisations, including the NHS, local authorities and universities, to conduct applied health research and implement research evidence, to improve health and healthcare across the West.</p>
        </div>
    </div>
</section>

<section class="section section--summary">
    <div class="row">
        <div class="l-2up">
            <div class="l-2up__col">
                <h2 class="section__title animate">Overview</h2>
            </div>
            <div class="l-2up__col">
                <div class="section__copy animate">
                    <div class="typebase">
                        <p>NIHR had recently updated their brand, allowing their properties to be visually distinguishable from the core NHS brand guidelines. Because of this ARC West was looking to update the design of their current website to use the new brand, they were keen to push the brand so the ARC West site would stand out from the rest.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="m-image m-image--preview animate">
            <img src="/assets/img/arc-preview.jpg" alt="ARC West">
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <h2 class="section__title section__title--center animate">Aims</h2>
        <div class="section__copy section__copy--center animate">
            <div class="typebase">
                <p>To redesign their existing website using the brand guide document, and pushing their brand as far as possible to create a unique style that separates them from other NIHR organisations,</p>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="l-2up">
            <div class="l-2up__col">
                <div class="m-image animate">
                    <img src="/assets/img/arc-mobile.png" alt="ARC West">
                </div>
            </div>
            <div class="l-2up__col l-2up__col--offset-minor">
                <div class="m-image animate">
                    <img src="/assets/img/arc-mobile-2.png" alt="ARC West">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="section__flourish animate">
        <svg class="section__flourish-shape" width="977" height="1080" viewBox="0 0 977 1080">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" transform="translate(489.000000, 540.000000) scale(-1, 1) translate(-489.000000, -540.000000) " />
        </svg>
        <svg class="section__flourish-outline" width="977" height="1164" viewBox="0 0 977 1164">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" transform="translate(489.000000, 540.000000) scale(-1, 1) translate(-489.000000, -540.000000) " />
        </svg>
    </div>
    <div class="row">
        <h2 class="section__title section__title--center animate">The outcome</h2>
        <div class="section__copy section__copy--columns animate">
            <div class="typebase">
                <p>I analyzed the brand guidelines and looked at the other NIHR sites to see how we can push their brand so it still looks original, building on from the wireframes of their existing site I developed a new concept utilizing the new brand. In order to help distinguish it from other ARCs I looked at key elements such as the hero section and focused on these areas for enabling the new site to stand out as being different.</p>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="m-image m-image--full animate">
            <img src="/assets/img/arc-full.jpg" alt="ARC West">
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <a href="https://arc-w.nihr.ac.uk/" class="button button--tertiary button--block">View website</a>
    </div>
</section>

{% endblock %}

{% block postcontent %}
{% endblock %}

{% block script %}
{% endblock %}
