{% set title = 'Ben Darby | BlueHealth' %}
{% set section = 'portfolio-single' %}
{% extends 'layouts/default.html' %}

{% block precontent %}
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero__flourish">
        <svg class="hero__flourish-shape" width="977" height="1080" viewBox="0 0 977 1080">
            <path id="image" fill="#F8F1C7" d="M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z" />
            <clipPath id="clip">
                <use href="#image"  style="overflow:visible;"/>
            </clipPath>
            <g style="clip-path:url(#clip);">
                <image style="overflow:visible;" opacity="0.4" width="1238" height="1650" href="/assets/img/bluehealth-main.jpg" x="0" y="0"></image>
            </g>
        </svg>
        <svg class="hero__flourish-outline" width="977" height="1164" viewBox="0 0 977 1164">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" d="M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z" />
        </svg>
    </div>
    <div class="row">
        <div class="hero__caption">
            <h1 class="hero__title">BlueHealth</h1>
            <ul class="teaser__meta">
                <li>UX</li>
                <li>Design</li>
                <li>Front-end</li>
            </ul>
            <p class="hero__copy">BlueHealth is a pan-European research initiative investigating the links between environment, climate and health. The programme is specifically focused on understanding how water-based environments in towns and cities can affect health and wellbeing.</p>
        </div>
    </div>
</section>

<section class="section section--summary">
    <div class="row">
        <div class="l-2up">
            <div class="l-2up__col">
                <h2 class="section__title animate">Overview</h2>
            </div>
            <div class="l-2up__col">
                <div class="section__copy animate">
                    <div class="typebase">
                        <p>I was involved at the beginning stages of the project, taking part in the kick-off workshop, where I helped the team establish the key goals for the website and help them discover who their main user groups would be and how we can accomplish our goals through the design.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="m-image m-image--preview animate">
            <img src="/assets/img/bluehealth-preview.jpg" alt="BlueHealth">
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <h2 class="section__title section__title--center animate">Aims</h2>
        <div class="section__copy section__copy--center animate">
            <div class="typebase">
                <p>Then the main aim for me was to create and develop a concept that helps the research team publish and show the public and their peers what research they are doing in this space in a clear and easy to understand way.</p>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="l-2up">
            <div class="l-2up__col">
                <div class="m-image animate">
                    <img src="/assets/img/bh-mobile.png" alt="BlueHealth">
                </div>
            </div>
            <div class="l-2up__col l-2up__col--offset-minor">
                <div class="m-image animate">
                    <img src="/assets/img/bh-mobile-2.png" alt="BlueHealth">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="section__flourish animate">
        <svg class="section__flourish-shape" width="977" height="1080" viewBox="0 0 977 1080">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" transform="translate(489.000000, 540.000000) scale(-1, 1) translate(-489.000000, -540.000000) " />
        </svg>
        <svg class="section__flourish-outline" width="977" height="1164" viewBox="0 0 977 1164">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" transform="translate(489.000000, 540.000000) scale(-1, 1) translate(-489.000000, -540.000000) " />
        </svg>
    </div>
    <div class="row">
        <h2 class="section__title section__title--center animate">The outcome</h2>
        <div class="section__copy section__copy--columns animate">
            <div class="typebase">
                <p>I developed a design that successfully brought the themes of their project to life, utilising a clean and minimal look enabled the content to take precedence as this was a key reason users would visit the site along with highlighting the wonderful imagery they have.</p>
                <p>Effectively using colour to help highlight areas of the site for users, allowing them to easily scan the pages and lead them through the website effectively.</p>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="m-image m-image--full animate">
            <img src="/assets/img/bluehealth-full.jpg" alt="BlueHealth">
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <a href="https://bluehealth2020.eu/" class="button button--tertiary button--block">View website</a>
    </div>
</section>

{% endblock %}

{% block postcontent %}
{% endblock %}

{% block script %}
{% endblock %}
