{% set title = 'Ben Darby | Development Initiatives' %}
{% set section = 'portfolio-single' %}
{% extends 'layouts/default.html' %}

{% block precontent %}
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero__flourish">
        <svg class="hero__flourish-shape" width="977" height="1080" viewBox="0 0 977 1080">
            <path id="image" fill="#F8F1C7" d="M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z" />
            <clipPath id="clip">
                <use href="#image"  style="overflow:visible;"/>
            </clipPath>
            <g style="clip-path:url(#clip);">
                <image style="overflow:visible;" opacity="0.4" width="1100" height="1468" href="/assets/img/di-main.jpg" x="0" y="0"></image>
            </g>
        </svg>
        <svg class="hero__flourish-outline" width="977" height="1164" viewBox="0 0 977 1164">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" d="M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z" />
        </svg>
    </div>
    <div class="row">
        <div class="hero__caption">
            <h1 class="hero__title">Development <br>Initiatives</h1>
            <ul class="teaser__meta">
                <li>Design</li>
                <li>Front-end</li>
            </ul>
            <p class="hero__copy">Development Initiatives (DI) is an international development organisation that focuses on putting data-driven decision-making at the heart of poverty eradication.</p>
        </div>
    </div>
</section>

<section class="section section--summary">
    <div class="row">
        <div class="l-2up">
            <div class="l-2up__col">
                <h2 class="section__title animate">Overview</h2>
            </div>
            <div class="l-2up__col">
                <div class="section__copy animate">
                    <div class="typebase">
                        <p>Development Initiatives were looking to overhaul their main website, applying their brand guidelines more effectively online and adopting a user-centered design approach to their business.</p>
                        <p>I attended kick-off workshops with the client and other members of the project at the beginning of the process to help define the issues we wanted to solve and who the key user groups were, this led to facilitating a sketching workshop with key stakeholders, allowing us to generate ideas for layout and content hierarchy. These workshops along with the user research produced created a good foundation for the design phase.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="m-image m-image--preview animate">
            <img src="/assets/img/di-preview.jpg" alt="Development Initiatives">
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <h2 class="section__title section__title--center animate">Aims</h2>
        <div class="section__copy section__copy--center animate">
            <div class="typebase">
                <p>To take the user research done and their existing brand, which was primarily produced to work across different offline channels and develop it further to help influence the redesign of the website in a meaningful way that works across multiple devices.</p>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="l-2up">
            <div class="l-2up__col">
                <div class="m-image animate">
                    <img src="/assets/img/di-mobile.jpg" alt="Development Initiatives">
                </div>
            </div>
            <div class="l-2up__col l-2up__col--offset-minor">
                <div class="m-image animate">
                    <img src="/assets/img/di-mobile-2.jpg" alt="Development Initiatives">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="section__flourish animate">
        <svg class="section__flourish-shape" width="977" height="1080" viewBox="0 0 977 1080">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" transform="translate(489.000000, 540.000000) scale(-1, 1) translate(-489.000000, -540.000000) " />
        </svg>
        <svg class="section__flourish-outline" width="977" height="1164" viewBox="0 0 977 1164">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" transform="translate(489.000000, 540.000000) scale(-1, 1) translate(-489.000000, -540.000000) " />
        </svg>
    </div>
    <div class="row">
        <h2 class="section__title section__title--center animate">The outcome</h2>
        <div class="section__copy section__copy--columns animate">
            <div class="typebase">
                <p>Designed and developed a fresh new approach for their site that successfully adapted the brand guidelines effectively and utilising their wide colour palette.</p>
                <p>Implementing the user research produced beforehand thoughtfully to develop a design that caters to the key user groups and journeys as well as meeting business goals.</p>
                <p>Developing clean, accessible code in the form of a pattern library so the site works effectively in varying environments across the globe and can be used by their internal development team to expand on the site easily in the future.</p>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="m-image m-image--full animate">
            <img src="/assets/img/di-preview-alt.jpg" alt="Development Initiatives">
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <a href="https://devinit.org/" class="button button--tertiary button--block">View website</a>
    </div>
</section>

{% endblock %}

{% block postcontent %}
{% endblock %}

{% block script %}
{% endblock %}
