{% set title = 'Ben Darby | Global Nutrition Report' %}
{% set section = 'portfolio-single' %}
{% extends 'layouts/default.html' %}

{% block precontent %}
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero__flourish">
        <svg class="hero__flourish-shape" width="977" height="1080" viewBox="0 0 977 1080">
            <path id="image" fill="#F8F1C7" d="M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z" />
            <clipPath id="clip">
                <use href="#image"  style="overflow:visible;"/>
            </clipPath>
            <g style="clip-path:url(#clip);">
                <image style="overflow:visible;" opacity="0.4" width="1100" height="1650" href="/assets/img/gnr-main.jpg" x="0" y="0"></image>
            </g>
        </svg>
        <svg class="hero__flourish-outline" width="977" height="1164" viewBox="0 0 977 1164">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" d="M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z" />
        </svg>
    </div>
    <div class="row">
        <div class="hero__caption">
            <h1 class="hero__title">Global Nutrition <br>Report</h1>
            <ul class="teaser__meta">
                <li>Design</li>
                <li>Front-end</li>
            </ul>
            <p class="hero__copy">The Global Nutrition Report continues to shed light on the current state of nutrition around the world. With ever-increasing global data, it is clear that inequities are key to addressing malnutrition.</p>
        </div>
    </div>
</section>

<section class="section section--summary">
    <div class="row">
        <div class="l-2up">
            <div class="l-2up__col">
                <h2 class="section__title animate">Overview</h2>
            </div>
            <div class="l-2up__col">
                <div class="section__copy animate">
                    <div class="typebase">
                        <p>GNR had previously only published their annual reports in a printed format and as PDFs. They wanted a way of showcasing their reports online in an effective and easy to use way, enabling the different user groups to access the information they needed. They also needed the new website to effectively explain the varying type of work they do and different people involved who make the Global Nutrition Report a success.</p>
                        <p>Then there was a second phase to the project where we planned, created and developed a solution for them to showcase the big pieces of data that aid the report in a meaningful and accessible way online.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="m-image m-image--preview animate">
            <img src="/assets/img/gnr-preview.jpg" alt="Global Nutrition Report">
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <h2 class="section__title section__title--center animate">Aims</h2>
        <div class="section__copy section__copy--center animate">
            <div class="typebase">
                <p>To design, iterate and develop a new digital solution that enables them to take their 200 page printed reports and put them online in an accessible yet beautiful way which that still showcases the strong brand elements of the printed version but is easy to navigate for users across different devices.</p>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="l-2up">
            <div class="l-2up__col">
                <div class="m-image animate">
                    <img src="/assets/img/gnr-work-1.jpg" alt="Global Nutrition Report">
                </div>
            </div>
            <div class="l-2up__col l-2up__col--offset-minor">
                <div class="m-image animate">
                    <img src="/assets/img/gnr-work-2.jpg" alt="Global Nutrition Report">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="section__flourish animate">
        <svg class="section__flourish-shape" width="977" height="1080" viewBox="0 0 977 1080">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" transform="translate(489.000000, 540.000000) scale(-1, 1) translate(-489.000000, -540.000000) " />
        </svg>
        <svg class="section__flourish-outline" width="977" height="1164" viewBox="0 0 977 1164">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" transform="translate(489.000000, 540.000000) scale(-1, 1) translate(-489.000000, -540.000000) " />
        </svg>
    </div>
    <div class="row">
        <h2 class="section__title section__title--center animate">The outcome</h2>
        <div class="section__copy section__copy--columns animate">
            <div class="typebase">
                <p>I worked on creating an initial concept and establishing the design direction going forward, overseeing the project while it was completed by my team.</p>
                <p>My aim for the concept was to use their limited colour palette effectively by introducing a generous amount of white space and display key branding hooks such as the dots to help reinforce the brand, the way the colour palette was used along with the white space also allowed their wonderful photography to act as a focal point for the design which helped showcase the human side of their work.</p>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="m-image m-image--full animate">
            <img src="/assets/img/gnr-full.jpg" alt="Global Nutrition Report">
        </div>
    </div>
</section>

<section class="section">
    <div class="row section__module">
        <div class="l-2up">
            <div class="l-2up__col">
                <div class="m-image animate">
                    <img src="/assets/img/gnr-work-3.jpg" alt="Global Nutrition Report">
                </div>
            </div>
            <div class="l-2up__col l-2up__col--offset-minor">
                <div class="m-image animate">
                    <img src="/assets/img/gnr-work-4.jpg" alt="Global Nutrition Report">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <a href="https://globalnutritionreport.org/" class="button button--tertiary button--block">View website</a>
    </div>
</section>

{% endblock %}

{% block postcontent %}
{% endblock %}

{% block script %}
{% endblock %}
