{% set title = 'Ben Darby | HAE' %}
{% set section = 'portfolio-single' %}
{% extends 'layouts/default.html' %}

{% block precontent %}
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero__flourish">
        <svg class="hero__flourish-shape" width="977" height="1080" viewBox="0 0 977 1080">
            <path id="image" fill="#F8F1C7" d="M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z" />
            <clipPath id="clip">
                <use href="#image"  style="overflow:visible;"/>
            </clipPath>
            <g style="clip-path:url(#clip);">
                <image style="overflow:visible;" opacity="0.4" width="1236" height="1650" href="/assets/img/hae-main.jpg" x="0" y="0"></image>
            </g>
        </svg>
        <svg class="hero__flourish-outline" width="977" height="1164" viewBox="0 0 977 1164">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" d="M399.544 38.4444C531.544 -48.0556 977.044 38.4444 977.044 38.4444V938.445C977.044 938.445 600.547 1132.86 366.544 1065.44C198.725 1017.1 36.8275 976.29 3.04443 804.945C-41.7432 577.785 421.472 680.14 483.044 456.944C527.364 296.29 267.544 124.944 399.544 38.4444Z" />
        </svg>
    </div>
    <div class="row">
        <div class="hero__caption">
            <h1 class="hero__title">HAE</h1>
            <ul class="teaser__meta">
                <li>UX</li>
                <li>Design</li>
                <li>Front-end</li>
            </ul>
            <p class="hero__copy">HAE was developing a Virtual Reality training software that helps employers to train their staff by setting them appropriate modules and track their learning to aid in their development.</p>
        </div>
    </div>
</section>

<section class="section section--summary">
    <div class="row">
        <div class="l-2up">
            <div class="l-2up__col">
                <h2 class="section__title animate">Overview</h2>
            </div>
            <div class="l-2up__col">
                <div class="section__copy animate">
                    <div class="typebase">
                        <p>Apriori Digital asked me to help them with the UI design for one of their projects, I got in involved at the UX stage, helping create wireframes to cover all the scenarios the user would go through when using the web app. This enabled me to establish the key journeys and areas of the app and design a solution that helps them achieve their goal.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="m-image m-image--preview animate">
            <img src="/assets/img/hae-pre.png" alt="HAE">
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <h2 class="section__title section__title--center animate">Aims</h2>
        <div class="section__copy section__copy--center animate">
            <div class="typebase">
                <p>The primary goal for me was to create a design that focused on usability first as the user group could have a varied skill level when using the software. I wanted the design to be clean with little visual distraction so the user could easily focus on their intended goal with clearly labeled sections and signposting.</p>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="l-2up">
            <div class="l-2up__col">
                <div class="m-image animate">
                    <img src="/assets/img/hae-mobile.png" alt="HAE">
                </div>
            </div>
            <div class="l-2up__col l-2up__col--offset-minor">
                <div class="m-image animate">
                    <img src="/assets/img/hae-mobile-2.png" alt="HAE">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="section__flourish animate">
        <svg class="section__flourish-shape" width="977" height="1080" viewBox="0 0 977 1080">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" transform="translate(489.000000, 540.000000) scale(-1, 1) translate(-489.000000, -540.000000) " />
        </svg>
        <svg class="section__flourish-outline" width="977" height="1164" viewBox="0 0 977 1164">
            <path fill="none" stroke="#F8F1C7" stroke-width="2" transform="translate(489.000000, 540.000000) scale(-1, 1) translate(-489.000000, -540.000000) " />
        </svg>
    </div>
    <div class="row">
        <h2 class="section__title section__title--center animate">The outcome</h2>
        <div class="section__copy section__copy--columns animate">
            <div class="typebase">
                <p>I developed a design system that was focused on enabling the user to digest large amounts of information in an easy and digestible way. This was delivered by ensuring each screen was broken up into sections with a clear indication of what content was in each section and using high contrasting colours to show the user where the actions of the page were.</p>
                <p>The client also needed assistance with the development of the design, so I built the design into a component-based pattern library, this enabled their development team to easily build out the design into their own framework.</p>
            </div>
        </div>
    </div>
    <div class="row section__module">
        <div class="m-image m-image--full animate">
            <img src="/assets/img/hae-full.png" alt="HAE">
        </div>
    </div>
</section>


{% endblock %}

{% block postcontent %}
{% endblock %}

{% block script %}
{% endblock %}
