<nav class="navigation" id="navigation">
    <button type="button" class="navigation__close js-menu-close js-link">
        <img src="/assets/icons/source/menu-close.svg">
    </button>

    <ul class="social">
        <li class="social__item">
            <a href="https://dribbble.com/darbice" class="js-link">
                <img src="/assets/icons/source/dribbble.svg">
            </a>
        </li>
        <li class="social__item">
            <a href="https://twitter.com/darbice" class="js-link">
                <img src="/assets/icons/source/twitter.svg">
            </a>
        </li>
    </ul>

    <ul class="navigation__list">
        <li class="navigation__list-item {% if section == 'home' %}current{% else %}{% endif %}"><a href="/" class="js-link">Home</a></li>
        <li class="navigation__list-item {% if section == 'about' %}current{% else %}{% endif %}"><a href="/about" class="js-link">About</a></li>
        <li class="navigation__list-item {% if section == 'portfolio' %}current{% elif section == 'portfolio-single' %}current{% else %}{% endif %}"><a href="/work" class="js-link">Work</a></li>
        <!-- <li class="navigation__list-item {% if section == 'contact' %}current{% else %}{% endif %}"><a href="#" class="js-contact-trigger js-link">Contact</a></li> -->
    </ul>
</nav>
