<title>{{ title }}</title>
<meta name="description" content="I’m a Product Designer from the UK, helping companies deliver beautiful, intuitive online experiences through solid research, thoughtful design and accessible code.">
<meta name="keywords" content="Web designer, UI designer, UX designer, Bristol, United Kingdom, South West, Freelance designer, Contract designer, Product Designer, front-end developer">
<meta name="author" content="Ben Darby">
<link rel="stylesheet" href="/css/style.css">

{% include 'layouts/scaffold/headshared.html' %}
